body{background-color: rgba(40, 27, 223, 0.671);
background-image:url(https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/427949c071111e9a63c4f0bde41df8f7~c5_720x720.jpeg?x-expires=1679479200&x-signature=i%2BPabjS2W8Z7zcu3k1ONoNpKXc4%3D);background-repeat: no-repeat;}
div{background-color: rgb(0, 0, 0);
color: rgb(0, 0, 0);
border: dashed 1px;color: darkmagenta;}